---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


<iframe src="/files/cv.pdf#toolbar=0" width="100%" height="500px">
</iframe>

<p>new way lets see XD</p>


<object data="https://abhi-glitchhg.github.io/files/cv.pdf" type="application/pdf" width="750px" height="750px">
  <embed src="https://abhi-glitchhg.github.io/files/cv.pdf" type="application/pdf">
      <p>This browser does not support PDFs. Please download the PDF to view it: <a href="https://abhi-glitchhg.github.io/files/cv.pdf">Download PDF</a>.</p>
  </embed>
</object>