---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


<iframe src="/files/cv.pdf#toolbar=0" width="100%" height="500px">
</iframe>

<h1> new way is this lets see XD</h1>
<object data="/files/cv.pdf" type="application/pdf">
  <embed src="https://drive.google.com/viewerng/
viewer?embedded=true&url=http://abhi-glitchhg.github.io/files/cv" width="100" height="500px">
</object>